<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fast Count copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Fast Count.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A4262DC41F020A4200C562A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4262DD81F020A4200C562A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4EA70181F16C71100FB895A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4EA70311F16C75300FB895A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4EA704A1F16C7A300FB895A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
